extends /layout/app

block content
  .portfolio-adobe
    .container
      .portfolio-adobe__content
        .portfolio-adobe__left-content
          .portfolio-adobe__wrapper-left
            h1.portfolio-adobe__title
              | Портфолио
            h1.portfolio-adobe__subtitle
              | Adobe Photoshop
        .portfolio-adobe__right-content
          .portfolio-adobe__wrapper
            .portfolio-adobe__row
              a(href="#").portfolio-adobe__col
                img(src="../../images/1.png", alt="photo").portfolio-adobe__img
              a(href="#").portfolio-adobe__col
                img(src="../../images/7.png", alt="photo").portfolio-adobe__img
              a(href="#").portfolio-adobe__col
                img(src="../../images/2.png", alt="photo").portfolio-adobe__img
              a(href="#").portfolio-adobe__col
                img(src="../../images/5.png", alt="photo").portfolio-adobe__img
              a(href="#").portfolio-adobe__col
                img(src="../../images/3.png", alt="photo").portfolio-adobe__img
              a(href="#").portfolio-adobe__col
                img(src="../../images/4.png", alt="photo").portfolio-adobe__img
