extends /layout/app

block content
  .about
    .container
      .about__content
        .about__card-wrapper
          .about__card
            .about__img
              img(src="../../images/my-photo.png", alt="my photo")
            .about__info
              strong
                | Имя:&nbsp;
              | Алина
            .about__info
              strong
                | Отчество:&nbsp;
              | Сергеевна
            .about__info
              strong
                | Фамилия:&nbsp;
              | Никифорова
            .about__info
              strong
                | Дата рождения:&nbsp;
              | 14.07.2001
        .about__text
          h2.about__title
            | Моя биография
          p.about__description
            | Я родилась 14 июля 2001 года в городе Комсомольское. С самого детства я росла активным ребенком
            |  и проявляла свои таланты в различных областях.Я занималась танцами, а также много времени
            |  уделяла развитию своих художественных навыков, что в будущем повлияло на выбор моей профессии.
            |  В школе я училась на отлично, активно участвовала в различных конкурсах и олимпиадах, школу
            |  закончила с золотой медалью.Сейчас я учусь в ДонНТУ по профилю информационные техгнологии в
            |  медиаиндустрии и дизайне. Также, как и раньше я активно проявляю себя в факультетских и
            |  вузовских мериприятиях. Уже сейчас я пробую свои силы в веб-дизайне и развиваюсь в этом
            |  направлении. В бущем я планирую связать свою жизнь  с этой профессией.
      .about__panel
        .about__socials
          a(href="https://vk.com/id108390564").about__social
            .about__icon
              img(src="../../images/my-vk.png", alt="vk")
            | https://vk.com/id108390564
          a(href="mailto: an446954@gmail.com").about__social
            .about__icon
              img(src="../../images/my-email.png", alt="email")
            | an446954@gmail.com
          a(href="https://t.me/easiquar").about__social
            .about__icon
              img(src="../../images/my-telegram.png", alt="telegram")
            | https://t.me/easiquar
          a(href="https://www.instagram.com/shladkay").about__social
            .about__icon
              img(src="../../images/my-inst.png", alt="instagram")
            | shladkay
