header.header
  .container
    .header__content
      h2.header__title
        | Alina Nikiforova
      nav.header__menu
        ul.header__list
          li.header__item
            a(href="index.html").header__link
              | main
          li.header__item
            a(href="portfolio.html").header__link
              | portfolio
          li.header__item
            a(href="about.html").header__link
              | about me
          li.header__item
            a(href="hobby.html").header__link
              | hobby

