header.header
  .header__content
    .header__top
      a.header__logo(href="/")
        img(src="../../images/logo.png", alt="logo")
      nav.header__nav
        ul.header__list
          li.header__item
            a.header-nav__link(href="#" onClick='return false')
              | home
          li.header__item
            a.header-nav__link(href="#" onClick='return false')
              | about
          li.header__item
            a.header-nav__link(href="#" onClick='return false')
              | portfolio
          li.header__item
            a.header-nav__link(href="#" onClick='return false')
              | services
          li.header__item
            a.header-nav__link(href="#" onClick='return false')
              | page
          li.header__item
            a.header-nav__link(href="#" onClick='return false')
              | elements
      .header__buttons
        a.header__button(href='#' onClick='return false')
          | Contact us

        a.header__menu(href='#' onClick='return false')
          img(src="../../images/menu.png", alt="menu")
    .header__panel
      .header__row
        .header__col
          h4.header__title
            | Elements
          ul.header__items
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Client
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Progress Bar
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Header
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Footer
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Accordions
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Pricing
        .header__col
          h4.header__title
            | Elements 2
          ul.header__items
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Contact Forms
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Counters
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Icon box
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Subscribe Newsletter
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Action button
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Video Section
        .header__col
          h4.header__title
            | Elements 3
          ul.header__items
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Creative_Shape
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Blog box
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Testimonial
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Services
            li.header__text
              a.header__link(href="#" onClick='return false')
                | About us
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Faq
        .header__col
          h4.header__title
            | Elements 4
          ul.header__items
            li.header__text
              a.header__link(href="#" onClick='return false')
                | 404
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Coming Soon Page
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Button
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Typography
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Team
            li.header__text
              a.header__link(href="#" onClick='return false')
                | Structure
