.seo-cards
  .container
    .seo-cards__content
      .seo-cards__row
        .seo-cards__wrapper
          .seo-cards__inner
            .seo-cards__col
              .seo-cards__card
                .seo-cards__img
                  img(src="../../images/card-icon1.png", alt="")
                .seo-cards__title
                  | Content Marketing
                .seo-cards__text
                  | We craft great content that keep your users interested and coming back for more.
                  | I have mixed feelings about the explosion of web content.
            .seo-cards__col
              .seo-cards__card.seo-cards__card--mb
                .seo-cards__img
                  img(src="../../images/card-icon2.png", alt="")
                .seo-cards__title
                  | Link Building
                .seo-cards__text
                  | Links are still a powerful ranking factor in SEO. However, acquiring the wrong links could lead to a Google Penalty.
              .seo-cards__card
                .seo-cards__img
                  img(src="../../images/card-icon3.png", alt="")
                .seo-cards__title
                  | SEO & Social media
                .seo-cards__text
                  | Your data tells a story that we need to understand. We’ve built a proprietary report that pulls important SEO data from Google Search Console
            .seo-cards__col
              .seo-cards__card
                .seo-cards__img
                  img(src="../../images/card-icon4.png", alt="")
                .seo-cards__title
                  | AdWords & PPC
                .seo-cards__text
                  | Is your Google AdWords budget disappearing without sales or calls? Or are you new to pay per click advertising, PPC?


