extends /layout/app

block content
  .main-conntent.main-content__main-contacts
    .container
      .main-content__content.main-content__content--contacts
        aside.main-content__aside.main-content__aside--contacts
          .main-content__cards.main-content__cards--contacts
            .main-content__card
              .main-content__photo
                img(src="../../images/author-photo.png", alt="author")
              .main-content__author
                | Максим Москаленко
              .main-content__text
                | Дата рождения: 3 марта 2002 года
            .main-content__card
              h2.main-content__socials-title
                | Мои соц. сети
              .main-content__socials
                a(href="#").main-content__social
                  .main-content__icon
                    img(src="../../images/vk-icon.png", alt="").main-content__img
                  .main-content__text
                    | Вконтакте
                a(href="#").main-content__social
                  .main-content__icon
                    img(src="../../images/inst-icon.png", alt="").main-content__img
                  .main-content__text
                    | Instagram
                a(href="#").main-content__social
                  .main-content__icon
                    img(src="../../images/tgm-icon.png", alt="").main-content__img
                  .main-content__text
                    | Telegram
        .main-content__center.main-content--contacts
          nav.main-content__nav.main-content__contacts--nav
            ul.main-content__list
              li.main-content__item
                a.main-content__link(href="index.html")
                  | главная
              li.main-content__item
                a.main-content__link(href="about.html")
                  | обо мне
              li.main-content__item
                a.main-content__link(href="portfolio.html")
                  | портфолио
              li.main-content__item
                a.main-content__link(href="contacts.html")
                  | контакты
          .main-content__contacts
            .contacts
              h2.contacts__title
                | Моё портфолио
              .contacts__slider
                .contacts__slider-wrapper
                  .contacts__logo
                    img(src="../../images/slider-logo.png", alt="")
                  h1.contacts__slider-title
                    | Наши лучшие работы
                  h4.contacts__slider-subtitle
                    | Проекты, которыми мы горидмся.
                .contacts__slide
                  .contacts__img
                    img(src="../../images/slide.png", alt="")
              p.contacts__description
                | Я работаю в студии
                strong &nbsp;“Agency.Pizza”.&nbsp;
                | Наша команда постоянно развивается и находит лучшие пути решения
                | Вашей проблемы для достижения качественно результата.
              .contacts__row
                .contacts__col
                  .contacts__card
                    .contacts__card-img
                      img(src="../../images/maksim.png", alt="")
                    h2.contacts__card-title
                      | Максим
                    h4.contacts__card-subtitle
                      | Главный Дизайнер
                    ul.contacts__list
                      li.contacts__item
                        | Более 100+ веб и мобильных проектов
                      li.contacts__item
                        | Брендинг
                      li.contacts__item
                        | Что-то ещё
                      li.contacts__item
                        | И ещё что-то
                    a(href="vk.com/id54627123").contacts__link
                      img(src="../../images/link.png", alt="")
                      | vk.com/id54627123
                .contacts__col
                  .contacts__card
                    .contacts__card-img
                      img(src="../../images/kiril.png", alt="")
                    h2.contacts__card-title
                      | Кирилл
                    h4.contacts__card-subtitle
                      | Главный программист
                    ul.contacts__list
                      li.contacts__item
                        | Более 100+ веб и мобильных проектов
                      li.contacts__item
                        | Брендинг
                      li.contacts__item
                        | Что-то ещё
                      li.contacts__item
                        | И ещё что-то
                    a(href="vk.com/id54627123").contacts__link
                      img(src="../../images/link.png", alt="")
                      | vk.com/id54627123
                .contacts__col
                  .contacts__card
                    .contacts__card-img
                      img(src="../../images/mark.png", alt="")
                    h2.contacts__card-title
                      | Марк
                    h4.contacts__card-subtitle
                      | Маркетолог
                    ul.contacts__list
                      li.contacts__item
                        | Более 100+ веб и мобильных проектов
                      li.contacts__item
                        | Брендинг
                      li.contacts__item
                        | Что-то ещё
                      li.contacts__item
                        | И ещё что-то
                    a(href="vk.com/id54627123").contacts__link
                      img(src="../../images/link.png", alt="")
                      | vk.com/id54627123





