extends /layout/app

block content
  .photos
    .container
      .photos__content
        .photos__left-content
          h1.photos__title
            | Мои фото
        .photos__right-content
          .photos__wrapper
            .photos__row
              a(href="#").photos__col
                img(src="../../images/ff1.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/ff2.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/ff3.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/ff4.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/ff5.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/ff6.png", alt="photo").photos__img

              a(href="#").photos__col
                img(src="../../images/fff7.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/f8.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/f9.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/f10.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/f11.png", alt="photo").photos__img
              a(href="#").photos__col
                img(src="../../images/f12.png", alt="photo").photos__img
