extends /layout/app

block content
  section.main__about-seo
    include ./aboutSeo/index.pug

  section.main__seo-services
    include ./seoServices/index.pug

  section.main__seo-cards
    include ./seoCards/index.pug
