extends /layout/app

block content
  .container
    .main__content
      h1.main__title
        | Произведение двух матриц
      .main__mattr
        h2.main__subtitle
          | Матрица А
        .main__size
          select.main__rows.main__rows-a
            option(value="Default")
              | Количество строк
            option(value="2")
              | 2
            option(value="3")
              | 3
            option(value="4")
              | 4
            option(value="5")
              | 5
            option(value="6")
              | 6
          select.main__cols.main__cols-a
            option(value="Default")
              | Количество столбцов
            option(value="2")
              | 2
            option(value="3")
              | 3
            option(value="4")
              | 4
            option(value="5")
              | 5
            option(value="6")
              | 6
      .main__mattr
        h2.main__subtitle
          | Матрица B
        .main__size
          select.main__rows.main__rows-b
            option(value="Default")
              | Количество строк
            option(value="2")
              | 2
            option(value="3")
              | 3
            option(value="4")
              | 4
            option(value="5")
              | 5
            option(value="6")
              | 6
          select.main__cols.main__cols-b
            option(value="Default")
              | Количество столбцов
            option(value="2")
              | 2
            option(value="3")
              | 3
            option(value="4")
              | 4
            option(value="5")
              | 5
            option(value="6")
              | 6
      .main__mattrs
        .main__wrapper
          h2.main__subtitle
            | Матрица А
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
        .main__wrapper
          h2.main__subtitle
            | Матрица B
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
          .main__row
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
            .main__col
              input.main__ij.main__colij(type="text")
      a(href="#").main__button
        | Вычислить

