.about-seo
  .container
    .about-seo__content
      .about-seo__wrapper
        h4.about-seo__subtitle
          | About SEO agency
        h2.about-seo__title
          | Our SEO marketing team integrates strategy

        p.about-seo__text
          | We’re on a mission to start a conversation with your customers in this fast connected world.
        p.about-seo__small
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        a.about-seo__button(href="#" onClick='return false')
          | Learn more

