.seo-services
  .container
    .seo-services__content
      .seo-services__text
        .seo-services__subtitle
          | We’re Offering
        .seo-services__title
          | SEO Services with talent specialist & Digital business
      a.seo-services__button(href="#" onClick="return false")
        | See More Services
