extends /layout/app

block content
  .hobby
    .container
      .hobby__content
        .hobby__content-wrapper
          .hobby__slider
            .hobby__slider-wrapper
              .hobby__slide
                .hobby__img-wrapper
                  img(src="../../images/slide1.png", alt="").hobby__img
          .hobby__text
            h2.hobby__title
              | Хореографическая деятельность
            p.hobby__description
              | Уже более 12 лет я занимаюсь танцами, пробую себя в самых
              | разных направлениях, начиная от контемпорари, заканчивая хип-хопом.
              | Будет какой-то текст, который ты заполнишь немного позже.
        .hobby__content-wrapper
          .hobby__text
            h2.hobby__title
              | Художественное творчество
            p.hobby__description
              | С самого детства я проявляла особый интерес к рисованию. В
              | начальной школе я попросила своих родителей, чтобы они
              | отвели меня на кружок рисования. что в будущем дало свои плоды.
              | С того момента я начала совершенствовать свои навыки в различных
              | направлениях и принимать активное участие в конкурсах, где
              | часто занимала ппризовые места.
          .hobby__slider.hobby__slider--right
            .hobby__slider-wrapper
              .hobby__slide
                .hobby__img-wrapper
                  img(src="../../images/slide2.png", alt="").hobby__img

