extends /layout/app

block content
  .portfolio-photo
    .container
      .portfolio-photo__content
        .portfolio-photo__left-content
          .portfolio-photo__wrapper-left
            h1.portfolio-photo__title
              | Портфолио
            h1.portfolio-photo__subtitle
              | Фотографии
        .portfolio-photo__right-content
          .portfolio-photo__wrapper
            .portfolio-photo__row
              a(href="#").portfolio-photo__col
                img(src="../../images/nikita.png", alt="photo").portfolio-photo__img
              a(href="#").portfolio-photo__col
                img(src="../../images/autumn.png", alt="photo").portfolio-photo__img
              a(href="#").portfolio-photo__col
                img(src="../../images/forest.png", alt="photo").portfolio-photo__img
              a(href="#").portfolio-photo__col
                img(src="../../images/abh.png", alt="photo").portfolio-photo__img
              a(href="#").portfolio-photo__col
                img(src="../../images/sunset.png", alt="photo").portfolio-photo__img
              a(href="#").portfolio-photo__col
                img(src="../../images/river.png", alt="photo").portfolio-photo__img
