footer.footer
  .container
    .footer__content
      .footer__info
        a(href="mailto: voronetskaya.anechka@mail.ru").footer__text
          | voronetskaya.anechka@mail.ru
        a(href="tel: +380713592429").footer__text
          | +380 71 359 2429
      .footer__icons
        a(href="https://www.facebook.com/Krito.ioOfficial/").footer__icon
          img(src="../../images/facebook.png" alt="facebook").footer__img
        a(href="https://vk.com/pro100anus").footer__icon
          img(src="../../images/vk.png" alt="vk").footer__img
        a(href="https://www.instagram.com/a_n_4_a/").footer__icon
          img(src="../../images/inst.png" alt="instagram").footer__img
        a(href="https://twitter.com/bts_twt").footer__icon
          img(src="../../images/twitter.png" alt="twitter").footer__img
      .footer__author
        .footer__text
          | Русский
        .footer__text
          | © Анна Воронецкая 2020
