footer.footer
  .container
    .footer__content
      .footer__top
        .footer__left-col
          a.footer__logo(href="/")
            img(src="../../images/footer-logo.png", alt="")
          p.footer__adress
            | 75 Arlington St. Suite 500 Boston, MA 02116, USA
          .footer__contacts
            a.footer__tell(href="tel: +088 01912704287")
              | +088 01912704287
            a.footer__email(href="mailto: infooffice@gmail.com")
              | infooffice@gmail.com
          .footer__icons
            a.footer__icon(href="#")
              img(src="../../images/facebook.png", alt="")
            a.footer__icon(href="#")
              img(src="../../images/inst.png", alt="")
            a.footer__icon(href="#")
              img(src="../../images/world.png", alt="")
            a.footer__icon(href="#")
              img(src="../../images/twitter.png", alt="")

        .footer__right-col
          .footer__company
            h2.footer__title
              | Company
            ul.footer__list
              li.footer__item
                a.footer__link(href="#")
                  | About
              li.footer__item
                a.footer__link(href="#")
                  | Contact
              li.footer__item
                a.footer__link(href="#")
                  | Home
              li.footer__item
                a.footer__link(href="#")
                  | Insights
              li.footer__item
                a.footer__link(href="#")
                  | Services & Clients
              li.footer__item
                a.footer__link(href="#")
                  | Work
          .footer__solution
            h2.footer__title
              | Solution
            ul.footer__list
              li.footer__item
                a.footer__link(href="#")
                  | Digital maeketing
              li.footer__item
                a.footer__link(href="#")
                  | Phototype
              li.footer__item
                a.footer__link(href="#")
                  | Development
              li.footer__item
                a.footer__link(href="#")
                  | Design
              li.footer__item
                a.footer__link(href="#")
                  | Business Strategy
              li.footer__item
                a.footer__link(href="#")
                  | Agency protfolio
      .footer__bottom
        p.footer__copyright
          | Copyrights 2019 Template_mr Template
        p.footer__apps
          | Mobile Apps:
          a.footer__apps-img(href="#")
            img(src="../../images/apps.png", alt="")
        ul.footer__list-small
          li.footer__item-small
            a.footer__link-small(href="#")
              | Privacy Policy
          li.footer__item-small
            a.footer__link-small(href="#")
              | Customer Support
          li.footer__item-small
            a.footer__link-small(href="#")
              | Careers
