footer.footer
  .container
    .footer__content
      .footer__top
        nav.footer__nav
          ul.footer__list
            li.footer__item
              a.footer__link(href="#")
                | главная
            li.footer__item
              a.footer__link(href="#")
                | обо мне
            li.footer__item
              a.footer__link(href="#")
                | портфолио
            li.footer__item
              a.footer__link(href="#")
                | контакты
        a(href="/").footer__logo
          img.footer__img(src="../../images/footer-logo.png", alt="moskalenko")
      .footer__bottom
        h2.footer__title
          | Добро пожаловать на мой личный сайт.
        span.footer__copyright
          | 2020 (C) Все права защищены

