footer.footer
  .container
    .footer__content
      .footer__top-content
        h2.footer__description
          | Добро пожаловать на мой сайт
        h2.footer__title
          | Alina Nikiforova
      .footer__bottom-content
        ul.footer__socials
          li.footer__social
            a(href="#").footer__link
              .footer__icon
                img.footer__img(src="../../images/instagram.png", alt="instagram")
          li.footer__social
            a(href="#").footer__link
              .footer__icon
                img.footer__img(src="../../images/email.png", alt="email")
          li.footer__social
            a(href="#").footer__link
              .footer__icon
                img.footer__img(src="../../images/vk.png", alt="vk")
          li.footer__social
            a(href="#").footer__link
              .footer__icon
                img.footer__img(src="../../images/telegram.png", alt="telegram")
        p.footer__copyright
          | AN (C) Все права защищены.
