extends /layout/app

block content
  .portfolio
    .container
      .portfolio__content
        .portfolio__wrapper
          .portfolio__row
            .portfolio__col
              .portfolio__card
                .portfolio__img-wrapper
                  img.portfolio__img(src="../../images/portfolio1.png", alt="portfolio")
                .portfolio__date
                  | 14.11.2019
                a(href="").portfolio__link
                  | Музыкальный плеер MUSICO
                p.portfolio__description
                  | Удобный плеер: хиты, новинки, подборки и подкасты.
            .portfolio__col
              .portfolio__card
                .portfolio__img-wrapper
                  img.portfolio__img(src="../../images/portfolio2.png", alt="portfolio")
                .portfolio__date
                  | 04.01.2020
                a(href="").portfolio__link
                  | Электронный кошелек
                p.portfolio__description
                  | Одно приложение для платежей, оплаты услуг и переводов с карты на карту.
            .portfolio__col
              .portfolio__card
                .portfolio__img-wrapper
                  img.portfolio__img(src="../../images/portfolio3.png", alt="portfolio")
                .portfolio__date
                  | 14.01.2011
                a(href="").portfolio__link
                  | Мессенджер для ПК
                p.portfolio__description
                  | Общайтесь с помощью госовых и видеозвонков и мгновенных сообщений.
