extends /layout/app

block content
  .main-conntent.main-content__main-portfolio
    .container
      .main-content__content.main-content__content--portfolio
        aside.main-content__aside.main-content__aside--portfolio
          .main-content__cards.main-content__cards--portfolio
            .main-content__card
              .main-content__photo
                img(src="../../images/author-photo.png", alt="author")
              .main-content__author
                | Максим Москаленко
              .main-content__text
                | Дата рождения: 3 марта 2002 года
            .main-content__card
              h2.main-content__socials-title
                | Мои соц. сети
              .main-content__socials
                a(href="#").main-content__social
                  .main-content__icon
                    img(src="../../images/vk-icon.png", alt="").main-content__img
                  .main-content__text
                    | Вконтакте
                a(href="#").main-content__social
                  .main-content__icon
                    img(src="../../images/inst-icon.png", alt="").main-content__img
                  .main-content__text
                    | Instagram
                a(href="#").main-content__social
                  .main-content__icon
                    img(src="../../images/tgm-icon.png", alt="").main-content__img
                  .main-content__text
                    | Telegram
        .main-content__center.main-content--portfolio
          nav.main-content__nav.main-content__portfolio--nav
            ul.main-content__list
              li.main-content__item
                a.main-content__link(href="index.html")
                  | главная
              li.main-content__item
                a.main-content__link(href="about.html")
                  | обо мне
              li.main-content__item
                a.main-content__link(href="portfolio.html")
                  | портфолио
              li.main-content__item
                a.main-content__link(href="contacts.html")
                  | контакты
          .main-content__portfolio
            .portfolio
              h2.portfolio__title
                | Моё портфолио
              .portfolio__wrapper
                .portfolio__row
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня
                  .portfolio__col
                    a(href="#").portfolio__card
                      .portfolio__img
                        img(src="../../images/portfolio.png", alt="")
                      .portfolio__title
                        | Bounce.UZ
                      .portfolio__subtitle
                        | Было выполнено за 32 дня



