.interest
  .interest__content
    h2.interest__title
      | Уже заинтересовался?
    p.interest__desctiption
      | Тогда давай обсудим твой проект прямо сейчас!
    a(href="#").interest__button
      | перейти в контакты
